<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Used</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:sans-serif;
        }
   .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align:center;
}
.header{
    font-size:5rem;
    color: red;
}
.dis{
    color: #999999;
    font-size: 1.6rem;
    margin-top: 5px;
}
    </style>
</head>
<body>
    <div class="container">
      <div>
        <p class="header">Oops!</p>
        <p class="dis">This link is already used and cannot be used again</p>
      </div>
    </div>
</body>
</html>