<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/421/421648.png" type="image/x-icon">
  <title>Reset Your Passowrd</title>
  <style>
    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      font-family: sans-serif;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
    }

    .box {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 400px;
      height: 300px;
      padding: 15px;
      box-shadow: 0px 0px 4px 2px #e4e4e4;
      flex-direction: column;
    }

    #reset-form {
      width: 100%;
      height: 100%;
      margin-top: 20px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
    }

    input {
      appearance: none;
      border: none;
      background: none;
      padding: 12px;
      font-size: 17px;
      border: 2px solid #e4e4e4;
      width: 100%;
      margin: 10px 0px 10px 0px;
      outline: aquamarine;
    }

    p {
      font-size: 24px;
      /* font-weight: 600; */
    }

    .input-container {
      width: 100%;
    }

    .reset-btn {
      appearance: none;
      border: none;
      background: none;
      padding: 12px;
      font-size: 17px;
      width: 100%;
      color: white;
      background: #009dff;
      cursor: pointer;
    }

    #warning {
      padding: 7px;
      border-radius: 10px;
      margin: 5px 0px 10px 0px;
      width: 100%;
      color: white;
      background: rgba(255, 47, 47, 0.699);
      font-size: 1rem;
      display: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="box">
      <p style="font-family: sans-serif;">Reset Password</p>
      <form action="" onsubmit="handleSubmit(event)" id="reset-form">
        <div class="input-container">
          <input type="password" name="password" id="password" placeholder="Password">
          <input type="password" name="password2" id="confirmpassword" placeholder="Confirm Password">
        </div>
        <p id="warning">Password and confirm password should be same</p>
        <button type="submit" class="reset-btn" id="btn">Reset Password</button>
      </form>
    </div>

  </div>
  <script>
    let btn = document.getElementById("btn")
    let password = document.getElementById("password")
    let confirmpassword = document.getElementById("confirmpassword")
    let warning = document.getElementById("warning")

    let handleSubmit = async (e) => {
      e.preventDefault()
      if (password.value === confirmpassword.value && btn.innerText !== "Loading...") {
        warning.style.display = "none"
        try {
          btn.innerText = "Loading..."
          btn.style.background = "#009dff"
          let password = document.getElementById("password").value;
          let data = await fetch(`https://ecommerce-website-ocdk.onrender.com/api/v1/reset-password/<%=id%>/<%=token%>`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ password: password }),
            credentials: "include"
          })
          if (data.ok) {
            window.location.href = '/api/v1/success'
          } else {
            btn.innerText = "Reset Password"
            btn.style.background = "#009dff"
          }
        } catch (err) {
          return res.status(500).send(err.message)
        }
      } else {
        warning.style.display = "flex"
      }
    }
  </script>
</body>

</html>