<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/3c/9e/4b/3c9e4b32b67d641965915ee08db63844.jpg" type="image/x-icon">
    <title>Password Reset Successfully</title>
    <style>
        *{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div className="mail-container" style="
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;">
         <img src="https://gateway.sdl.com/servlet/rtaImage?eid=ka54X000000PUKu&feoid=00N600000030BY7&refid=0EM4X000002esTC" alt="">
       </div>
</body>
</html>