<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://img.freepik.com/premium-vector/human-hand-with-prohibition-sign-illustration_185757-1142.jpg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401 UnAuthorised</title>
    <style>
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family: sans-serif;
        }
    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home-page-link{
        color: #008cff;
        margin-top: 20px;
    }
    .container img{
        width: 600px;
    }
    
    @media (max-width: 700px) {
        .container img{
        width: 500px;
        }
    }

    @media (max-width: 500px) {
        .container img{
        width: 300px;
        }
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="box">
            <img src="https://img.freepik.com/free-vector/401-error-unauthorized-concept-illustration_114360-5531.jpg?w=2000" alt="">
              <p class="home-page-link">Back To Home Page</p>
        </div>
    </div>
</body>
</html>